<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ash</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/A01.css">	
</head>

<body class="container">    
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">A02 Atkuri</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="home">Home</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="Guess">Guess</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#">Guestbook
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="guestbook">Guestbook</a>
                            </li>
                            <li>
                                <a href="new-entry">New-entry</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>    
    
        <h1>
            Express Guestbook
            <a href="/new-entry" class="btn btn-primary pull-right">
                Write in the guestbook
            </a>
        </h1>
    
</body>

</html>